<?xml version="1.0" encoding="utf-8" ?>
<mMassConfig version="1.0">

  <main>
    <param name="appWidth" value="1000" type="int" />
    <param name="appHeight" value="550" type="int" />
    <param name="appMaximized" value="1" type="int" />
    <param name="mzDigits" value="4" type="int" />
    <param name="intDigits" value="0" type="int" />
    <param name="lastDir" value="" type="str" />
    <param name="errorUnits" value="Da" type="str" />
    <param name="printQuality" value="5" type="int" />
    <param name="macListCtrlGeneric" value="1" type="int" />
  </main>

  <recent>
  </recent>

  <colours>
    <colour value="1047b9" />
    <colour value="32af00" />
    <colour value="f19000" />
    <colour value="4cc7c5" />
    <colour value="8f8f15" />
    <colour value="267aff" />
    <colour value="268f49" />
    <colour value="edbb00" />
    <colour value="786dff" />
    <colour value="b34e00" />
    <colour value="80bfbd" />
    <colour value="898844" />
    <colour value="c88812" />
    <colour value="c5ca3d" />
    <colour value="7bb6ff" />
    <colour value="45438a" />
    <colour value="188183" />
    <colour value="838183" />
    <colour value="457ec6" />
    <colour value="bdc17b" />
    <colour value="7f2200" />
    <colour value="4c4e4c" />
    <colour value="1f4a91" />
    <colour value="0f4e4b" />
    <colour value="4f1a51" />
  </colours>

  <export>
    <param name="imageWidth" value="750.0" type="float" />
    <param name="imageHeight" value="500.0" type="float" />
    <param name="imageUnits" value="px" type="str" />
    <param name="imageResolution" value="72" type="int" />
    <param name="imageFormat" value="PNG" type="str" />
    <param name="peaklistColumns" value="mz;int" type="str" />
    <param name="peaklistFormat" value="ASCII" type="str" />
    <param name="peaklistSeparator" value="tab" type="str" />
    <param name="spectrumSeparator" value="tab" type="str" />
  </export>

  <spectrum>
    <param name="showGrid" value="1" type="int" />
    <param name="showLegend" value="1" type="int" />
    <param name="showPosBar" value="1" type="int" />
    <param name="showGel" value="1" type="int" />
    <param name="showGelLegend" value="0" type="int" />
    <param name="showTracker" value="1" type="int" />
    <param name="showLabels" value="1" type="int" />
    <param name="showAllLabels" value="1" type="int" />
    <param name="showTicks" value="1" type="int" />
    <param name="posBarHeight" value="10" type="int" />
    <param name="gelHeight" value="19" type="int" />
    <param name="autoscale" value="1" type="int" />
    <param name="overlapLabels" value="0" type="int" />
    <param name="checkLimits" value="1" type="int" />
    <param name="labelAngle" value="90" type="int" />
    <param name="labelCharge" value="1" type="int" />
    <param name="labelBgr" value="1" type="int" />
    <param name="labelFontSize" value="10" type="int" />
    <param name="axisFontSize" value="10" type="int" />
    <param name="tickColour" value="ff6464" type="str" />
    <param name="tmpSpectrumColour" value="ff0000" type="str" />
    <param name="matchPointsColour" value="00ff00" type="str" />
  </spectrum>

  <match>
    <param name="tolerance" value="0.200000" type="float" />
    <param name="units" value="Da" type="str" />
    <param name="ignoreCharge" value="0" type="int" />
  </match>

  <processing>
    <crop>
      <param name="lowMass" value="500" type="int" />
      <param name="highMass" value="5000" type="int" />
    </crop>
    <smoothing>
      <param name="method" value="SG" type="str" />
      <param name="windowSize" value="0.300000" type="float" />
      <param name="cycles" value="2" type="int" />
    </smoothing>
    <baseline>
      <param name="segments" value="10" type="int" />
      <param name="offset" value="0.000000" type="float" />
      <param name="smooth" value="1" type="int" />
    </baseline>
    <peakpicking>
      <param name="peakWidth" value="0.250000" type="float" />
      <param name="snTreshold" value="3.000000" type="float" />
      <param name="absIntTreshold" value="0.000000" type="float" />
      <param name="relIntTreshold" value="0.000000" type="float" />
      <param name="smoothing" value="0" type="str" />
      <param name="pickingHeight" value="0.750000" type="float" />
      <param name="adaptiveNoise" value="0" type="int" />
      <param name="deisotoping" value="1" type="int" />
    </peakpicking>
    <deisotoping>
      <param name="maxCharge" value="1" type="int" />
      <param name="massTolerance" value="0.100000" type="float" />
      <param name="intTolerance" value="0.500000" type="float" />
      <param name="removeIsotopes" value="1" type="int" />
      <param name="removeUnknown" value="1" type="int" />
    </deisotoping>
  </processing>

  <calibration>
    <param name="fitting" value="quadratic" type="str" />
    <param name="tolerance" value="50.000000" type="float" />
    <param name="units" value="ppm" type="str" />
    <param name="statCutOff" value="800" type="int" />
  </calibration>

  <sequence>
    <digest>
      <param name="maxMods" value="1" type="int" />
      <param name="maxCharge" value="1" type="int" />
      <param name="massType" value="0" type="int" />
      <param name="enzyme" value="Trypsin" type="str" />
      <param name="miscl" value="1" type="int" />
      <param name="lowMass" value="500" type="int" />
      <param name="highMass" value="5000" type="int" />
      <param name="allowMods" value="0" type="int" />
      <param name="listFormat" value="b.S.a [m]" type="str" />
      <param name="matchFormat" value="[r] b.S.a [m]" type="str" />
    </digest>
    <fragment>
      <param name="maxMods" value="1" type="int" />
      <param name="maxCharge" value="1" type="int" />
      <param name="massType" value="1" type="int" />
      <param name="fragments" value="a;b;y;-NH3;-H2O" type="str" />
      <param name="filterFragments" value="1" type="int" />
      <param name="listFormat" value="b.S.a [m]" type="str" />
      <param name="matchFormat" value="[f] b.S.a [m]" type="str" />
    </fragment>
    <search>
      <param name="maxMods" value="1" type="int" />
      <param name="maxCharge" value="1" type="int" />
      <param name="massType" value="0" type="int" />
      <param name="enzyme" value="Trypsin" type="str" />
      <param name="tolerance" value="0.200000" type="float" />
      <param name="units" value="Da" type="str" />
      <param name="listFormat" value="b.S.a [m]" type="str" />
    </search>
  </sequence>

  <masscalc>
    <param name="ionseriesAgent" value="H" type="str" />
    <param name="ionseriesAgentCharge" value="1" type="int" />
    <param name="ionseriesPolarity" value="1" type="int" />
    <param name="patternFwhm" value="0.100000" type="float" />
    <param name="patternTreshold" value="0.001000" type="float" />
  </masscalc>

  <differences>
    <param name="aminoacids" value="1" type="int" />
    <param name="dipeptides" value="1" type="int" />
    <param name="tolerance" value="0.100000" type="float" />
    <param name="massType" value="0" type="int" />
  </differences>

  <mascot>
    <servers>
      <server name="Matrix Science">
        <param name="host" value="www.matrixscience.com" type="str" />
        <param name="path" value="/" type="str" />
        <param name="search" value="cgi/nph-mascot.exe" type="str" />
        <param name="results" value="cgi/master_results.pl" type="str" />
        <param name="export" value="cgi/export_dat_2.pl" type="str" />
        <param name="params" value="cgi/get_params.pl" type="str" />
      </server>
    </servers>
    <common>
      <param name="server" value="Matrix Science" type="str" />
      <param name="searchType" value="pmf" type="str" />
      <param name="userName" value="" type="str" />
      <param name="userEmail" value="" type="str" />
    </common>
    <pmf>
      <param name="database" value="SwissProt" type="str" />
      <param name="taxonomy" value="All entries" type="str" />
      <param name="enzyme" value="Trypsin" type="str" />
      <param name="miscleavages" value="1" type="str" />
      <param name="fixedMods" value="" type="str" />
      <param name="variableMods" value="" type="str" />
      <param name="proteinMass" value="" type="str" />
      <param name="peptideTol" value="0.2" type="str" />
      <param name="peptideTolUnits" value="Da" type="str" />
      <param name="massType" value="Monoisotopic" type="str" />
      <param name="charge" value="1+" type="str" />
      <param name="decoy" value="0" type="int" />
      <param name="report" value="AUTO" type="str" />
    </pmf>
    <sq>
      <param name="database" value="SwissProt" type="str" />
      <param name="taxonomy" value="All entries" type="str" />
      <param name="enzyme" value="Trypsin" type="str" />
      <param name="miscleavages" value="1" type="str" />
      <param name="fixedMods" value="" type="str" />
      <param name="variableMods" value="" type="str" />
      <param name="peptideTol" value="1.0" type="str" />
      <param name="peptideTolUnits" value="Da" type="str" />
      <param name="msmsTol" value="0.5" type="str" />
      <param name="msmsTolUnits" value="Da" type="str" />
      <param name="massType" value="Average" type="str" />
      <param name="charge" value="1+" type="str" />
      <param name="instrument" value="Default" type="str" />
      <param name="quantitation" value="None" type="str" />
      <param name="decoy" value="0" type="int" />
      <param name="report" value="AUTO" type="str" />
    </sq>
    <mis>
      <param name="database" value="SwissProt" type="str" />
      <param name="taxonomy" value="All entries" type="str" />
      <param name="enzyme" value="Trypsin" type="str" />
      <param name="miscleavages" value="1" type="str" />
      <param name="fixedMods" value="" type="str" />
      <param name="variableMods" value="" type="str" />
      <param name="precursorMass" value="" type="str" />
      <param name="peptideTol" value="1.0" type="str" />
      <param name="peptideTolUnits" value="Da" type="str" />
      <param name="msmsTol" value="0.5" type="str" />
      <param name="msmsTolUnits" value="Da" type="str" />
      <param name="massType" value="Average" type="str" />
      <param name="charge" value="1+" type="str" />
      <param name="instrument" value="Default" type="str" />
      <param name="quantitation" value="None" type="str" />
      <param name="errorTolerant" value="0" type="int" />
      <param name="decoy" value="0" type="int" />
      <param name="report" value="AUTO" type="str" />
    </mis>
  </mascot>
  <links>
    <link name="unimod" value="http://www.unimod.org/" />
    <link name="clustalw" value="http://www.ebi.ac.uk/Tools/clustalw/" />
    <link name="expasy" value="http://www.expasy.org/" />
    <link name="uniprot" value="http://www.uniprot.org/" />
    <link name="ncbi" value="http://www.ncbi.nlm.nih.gov/Entrez/" />
    <link name="profound" value="http://prowl.rockefeller.edu/prowl-cgi/profound.exe" />
    <link name="emblebi" value="http://www.ebi.ac.uk/services/" />
    <link name="pir" value="http://pir.georgetown.edu/" />
    <link name="prospector" value="http://prospector.ucsf.edu/" />
    <link name="biomedmstools" value="http://ms.biomed.cas.cz/MSTools/" />
    <link name="deltamass" value="http://www.abrf.org/index.cfm/dm.home" />
    <link name="matrixscience" value="http://www.matrixscience.com/" />
    <link name="fasta" value="http://www.ebi.ac.uk/Tools/fasta33/" />
    <link name="blast" value="http://www.ebi.ac.uk/Tools/blastall/" />
    <link name="pdb" value="http://www.rcsb.org/pdb/" />
    <link name="muscle" value="http://phylogenomics.berkeley.edu/cgi-bin/muscle/input_muscle.py" />
  </links>

</mMassConfig>